* {
    margin: 0;
    padding: 0;
  }
  /* home.jsx file code */
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #473a8d;
    color: white;
  }
  
  #home-heading {
    font-size: 30px;
    padding: 20px;
  }
  
  #play {
    background-color: #0ab306;
    padding: 5px;
    width: 150px;
    border-radius: 20px;
    color: white;
  }
  
  /* quiz.jsx file code */
  .quiz {
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-left: 4px solid #8686f3;
  }
  .container {
    height: 100vh;
    width: 100%;
    background-color: #473a8d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #quiz-heading {
    font-size: 30px;
    margin: 10px;
  }
  #questionNumber {
    height: 10px;
    width: 100%;
    font-size: 12px;
    margin: 10px;
  }
  #question {
    margin: 20px;
    font-size: 14px;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }
  #optionA,
  #optionB,
  #optionC,
  #optionD {
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    color: white;
    text-align: center;
    background-color: #1ea1f1;
  }
  #back {
    background-color: #3e7eaa;
  }
  
  #reset {
    background-color: #008001;
  }
  
  #exit {
    background-color: #ff0000;
  }
  
  button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* result.jsx file code */
  .result {
    height: 100vh;
    background-color: #473a8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h2 {
    padding: 20px;
    color: green;
  }
  .result-box {
    background-color: white;
    width: 700px;
    height: 280px;
    padding: 20px;
    margin: 10px;
    border-left: 4px solid #8686f3;
  }
  #result-quote {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #score {
    color: blue;
    margin-bottom: 20px;
  }
  .sub-result {
    display: flex;
  }
  h6 {
    padding: 10px;
    width: 20px;
    font-size: 15px;
  }
  #calc {
    height: 20px;
    width: 90%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }
  #play-again,
  #home {
    padding: 2px;
    width: 100px;
    border-radius: 0;
  }
  #play-again {
    color: #8686f3;
    border: 2px solid #8686f3;
  }
  #home {
    color: green;
    border: 2px solid green;
  }